

body {
    margin: 0;
    filter: blur(10px);
    transition: all 500ms;
    height: 100vh;
    overflow: hidden;
}

a{
    position: relative;
    text-decoration: none;
    color: black;
    width: fit-content;
    display: block;
}

a::after {
    position: absolute;
    width: 100%;
    height: 0.1em;
    background-color: #00000000;
    left: 0;
    bottom: 0em;
    content: "";
    transform-origin: right;
    scale: 0 1;
    display: block;
    transition: scale 500ms, background-color 500ms;
}

a:hover::after {
    scale: 1 1;
    transform-origin: left;
    background-color: black;
}

.pagelink {
    font-size: clamp(3rem, 7.5vw, 59.5rem);
    height: clamp(3.5rem, 8vw, 60rem);
    font-weight: 700;
    text-wrap: nowrap;
    width: fit-content;
    overflow: hidden;
    background-color: white;
    margin-bottom: 1vw;
    position: relative;
    transition: opacity 500ms, background-color 500ms;
    a {
        height: 100%;
        width: 100%;
        opacity: 0.5;
        transition: opacity 500ms, filter 250ms;
        filter: blur(0.4vw);
    }
    
}

.pagelink:hover {
    cursor: pointer;
    background-color: orange;
    a {
        opacity: 1;
        filter: blur(0px);
    }
}

nav h1 {
    width: fit-content;
    position: absolute;
    z-index: 530994983  ;
}

.links {
    position: absolute;
    bottom: 0;
    width: 80vw;
    height: 94vh;
}

#one {
    left: 15%;
}

#two {
    left: 5%;
}

#thr {
    left: 16%;
}

#fou {
    left: 8%;
}

#fiv {
    left: 35%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 25vh;
    width: 100%;
    background-color: black;
    box-shadow: none;
    z-index: 999;
    transition: bottom 1s;
}

footer[data-open="0"] {
    bottom: -23vh;
}

footer[data-open="1"] {
    bottom: 0;
}

#one {
    left: 30%;
}

#two {
    left: 5%;
}

#thr {
    left: 16%;
}

#fou {
    left: 8%;
}

#fiv {
    left: 35%;
}