

body {
    margin: 0;
    filter: blur(10px);
    transition: all 500ms;
    height: 100vh;
}

a{
    position: relative;
    text-decoration: none;
    color: black;
    width: fit-content;
    display: block;
}

a::after {
    position: absolute;
    width: 100%;
    height: 0.1em;
    background-color: black;
    left: 0;
    bottom: 0;
    content: "";
    transform-origin: left;
    scale: 1 1;
    display: block;
    transition: scale 500ms, background-color 500ms;
}

a:hover::after {
    scale: 0 1;
    transform-origin: right;
    background-color: white;
}

.pagelink {
    font-size: 7em;
    font-weight: 700;

}

nav h1 {
    width: fit-content;
}



.links {
    position: absolute;
    bottom: 15%;
    width: 100%;
}