body {
    margin: 0;
    filter: blur(100px);
    transition: all 500ms;
    height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

a::after {
    position: relative;
    height: 1em;
    width: 100%;
    background-color: black;
}